<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="userDao" class="com.atguigu.ioc_02.UserDao"/>

    <bean id="userService" class="com.atguigu.ioc_02.UserService">
        <constructor-arg name="userDao" ref="userDao"/>
        <constructor-arg name="name" value="krystal"/>
        <constructor-arg name="age" value="18"/>
    </bean>

    <!--    触发setter方法进行注入-->
    <bean id="movieFinder" class="com.atguigu.ioc_02.MovieFinder"/>

    <bean id="simpleMovieLister" class="com.atguigu.ioc_02.SimpleMovieLister">
        <property name="movieFinder" ref="movieFinder"/>
        <property name="movieName" value="消失的她"/>
    </bean>

</beans>

